@import "1.scss";
@import "2.scss";
@import "3.scss";
@import "4.scss";
@import "5.css";

/*** 6 base.css ***/
body {
    background-color: #dddddd;
}

.circle {
    background-color: #6699cc;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 40px;
}

.order-test {
    background-color: #006600;
    color: #ffffff;
}

.ico {
    width: 100px;
    height: 100px;
    background-image: url('../img/ico.jpg');
}